* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(27, 27, 27);
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-color: gray; */
}

:root {
    --red: rgb(209, 35, 35);
    --blue: #007bff;
    --gray: rgb(241, 241, 241);
    --green: rgb(16, 129, 16);
    --dark-gray: rgb(160, 160, 160);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}